.cvContainer {
  margin-top: 3em;
  font-family: serif;
  width: 95%;
}

.cvLink1 {
  color: rgb(173, 136, 178);
  text-decoration: underline;
}

.cvLink1:nth-of-type(even) {
  color: rgb(216, 167, 198);
}

.cvLink2 {
  color: rgb(136, 167, 178);
  text-decoration: underline;
}

.arrowBack {
  font-size: 3em;
  color: rgb(226, 184, 232);
}
